*{
    font-family: 'Nunito Sans', sans-serif;  
}

body{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

article{
    display: flow-root;
    width: max-content;
    height: max-content;
    justify-content: right;
    align-items: flex-end;
}

a{
    background-color: aliceblue;
    text-decoration-line: none;
    color: black;
    padding: 15px 50px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
}

main{
    padding: 50px;
}
table{
    padding: 50px;
    width: 100%;
}

thead{
    background: black;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: left;
}

th, td {
    font-size: 18px;
    padding: 8px;
    
}

tbody{
    background-color: rgba(225, 225, 225, 0.491);
    
}

.deletetd{
    
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.delete{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 30px;
    border: none;
    border-radius: 12px;
    padding: 4px;
}

.delete:hover{
    background: rgb(255, 29, 29);
    color: white;
    transition: .5s all;
}

